body.sign_in, body.sign_up {
  background: linear-gradient(rgba(0, 94, 238, 0.8) 45%, #F4F4F4 0%);
  height: 100%;
  background-attachment: fixed !important;
}

body.dashboard {
  background: rgb(244, 244, 244);
  height: 100%;
  background-attachment: fixed !important;
}

.bg-grad-purple_blue {
  background: linear-gradient(172deg, rgba(51,201,255,1) 0%, rgba(117,98,255,1) 100%);
}

.bg-grad-pink_blue {
  background: linear-gradient(176deg, rgba(233,186,255,1) 0%, rgba(21,171,255,1) 100%);
}

.bg-grad-dust_blue {
  background: linear-gradient(176deg, rgba(234,186,107,1) 0%, rgba(107,176,234,1) 100%);
}

.bg-grad-purple_red {
  background: linear-gradient(176deg, rgba(117,98,255,1) 29%, rgba(234,107,107,1) 100%);
}

.black-expense-grad {
  background: linear-gradient(176deg, rgba(28,32,46,1) 0%, rgba(66,78,121,1) 100%);
}

.blue-expense-grad {
  background: linear-gradient(176deg, rgba(0,94,238,1) 0%, rgba(0,94,238,0.5) 100%);
}

.purple-expense-grad {
  background: linear-gradient(176deg, rgba(117,98,255,1) 0%, rgba(117,98,255,0.7) 100%);
}

.dust-expense-grad {
  background: linear-gradient(176deg, rgba(234,186,107,1) 0%, rgba(234,186,107,0.7) 100%);
}

button {
  outline: none !important;
}