body.sign_in, body.sign_up {
  background: linear-gradient(rgba(0, 94, 238, 0.8) 45%, #F4F4F4 0%);
  height: 100%;
  background-attachment: fixed !important;
}

body.dashboard {
  background: rgb(244, 244, 244);
  height: 100%;
  background-attachment: fixed !important;
}

.bg-grad-pb {
  background: linear-gradient(172deg, rgba(51,201,255,1) 0%, rgba(117,98,255,1) 100%);
}