@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GT Walsheim Pro";
    src: url("./assets/fonts/GT-Walsheim-Pro-Regular.OTF") format("opentype");
    font-weight: 400;
  }

  @font-face {
    font-family: "GT Walsheim Pro";
    src: url("./assets/fonts/GT-Walsheim-Pro-Medium.OTF") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: "GT Walsheim Pro";
    src: url("./assets/fonts/GT-Walsheim-Pro-Bold.OTF") format("opentype");
    font-weight: 700;
  }
}
